* {
  box-sizing: border-box;
}

.login-page {
  background-color: #333;
  height: 100vh;
  weight: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filter {
  transition: all 1s;
  filter: blur(0px);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url('../../assets/images/login-bg.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.login-form:hover~.filter {
  filter: blur(10px);
}

.login-title,
.login-form {
  position: relative;
  z-index: 2;
  transition: all 1s;
}

.login-title {
  color: #fff;
  font-size: 25px;
  margin-bottom: 20px;
}

.login-form {
  width: 400px;
  padding: 25px 45px;
  border-radius: 5px;
  background-color: #fff;
  font-size: 14px;
}

.login-form h2 {
  font-size: 20px;
}

@media screen and (max-width: 500px) {
  .login-form {
    width: 90%;
    margin: 0 auto;
  }
}

.form-input {
  height: 35px;
  margin-top: 20px;
  font-size: 14px;
}

.form-input:last-of-type {
  margin-top: 12px;
  margin-bottom: 20px;
}
