* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar nav ul {
  color: #222831;
  font-size: 20px;
  display: flex;
  position: relative;
  align-items: center;
  list-style: none;
  height: 90px;
  padding-left: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

li {
  width: 160px;
  text-align: center;
  position: relative;
}

li a {
  color: #222831;
  font-weight: 400;
}

li a:hover {
  color: #222831;
}

li a:hover::after {
  content: '';
  width: 80%;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px;
}

a.active::after {
  color: #fff;
  content: '';
  width: 80%;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px;
}

p.nav-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
}

@media screen and (max-width: 850px) {
  p.nav-text {
    display: none;
  }
}
